
.top{
    background-color: black;
    width: 20px;
    height: 100px;
    margin: auto;
}
.container{
    background-color: black;
    width: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}
.light{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}
.selected{
    box-shadow: 0 0 15px 20px yellow;
}